@font-face {
    font-family: aspire;
    src: url("../images/Aspire-DemiBold.ttf");
}

a {
    text-decoration: none;
}

html {
    height: 100%;
    width: 100%;
    margin: 0px;
}

body {
    margin: 0px;
}

h2 {
    font-family: "Trebuchet MS";
    font-size: 36px;
    font-weight: 200;
    color: #ecf0f1;
    margin-left: 30px;
    margin-top: 0px;
    padding-top: 30px;
    margin-bottom: -10px;
    -webkit-filter: drop-shadow(0px 0px 2px #2c3e50);

}

h3 {
    font-family: aspire;
    font-size: 36px;
    font-weight: 200;
    color: #ecf0f1;
    margin-left: 30px;
    padding-top: 30px;
    margin-bottom: -34px;
    -webkit-filter: drop-shadow(0px 0px 15px #3498db);
}

p {
    font-family: sans-serif;
    font-weight: 200;
    color: #ecf0f1;
    margin-left: 30px;
    -webkit-filter: drop-shadow(0px 0px 2px #2c3e50);
    font-size: 18px;
}

#background {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    background-image: url("../images/HavingFun.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 35% 25%;
    -webkit-filter: sepia(50%) grayscale(50%);
}

#header {
    margin-top: 20px;
    width: 600px;
    height: 40px;
    /*background-color: rgba(52, 152, 219,.5);*/
    margin-left: calc(50% - 300px);

}
#stuyvesant {
    margin-top: -17px;
    height: 80px;
    width: 260px;
    background-image: url("../images/Stuyvesant.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 35%;
    float: left;

    -webkit-filter: drop-shadow(0px 0px 2px #236ea0);
}
#acapella {
    margin-top: -17px;
    height: 80px;
    width: 300px;
    background-image: url("../images/ACapella.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 35%;
    float: right;

    -webkit-filter: drop-shadow(0px 0px 2px #236ea0);
}

#floater-left {
    width: 175px;
    height: 375px;
    margin-top: 75px;
    background-color: rgba(35, 110, 160,.7);
}

#body {
    background-color: rgba(44, 62, 80, 0.7);
    margin-top: -375px;
    margin-left: 300px;
    margin-right: 100px;
    height: 375px;
}







